<div style="background-color: rgb(190, 190, 190);">
    <table>
        <td style="background-color: rgb(202, 224, 201);">
            <button mat-icon-button (click)="settingsSidenav.toggle()"><mat-icon>list</mat-icon></button>
        </td>
        <td style="background-color: rgb(202, 224, 201);">
            <mat-label>Cerrar</mat-label>
            <button mat-icon-button (click)="SignOut()"><mat-icon>exit_to_app</mat-icon></button>
        </td>
    </table>
    
</div>


<mat-drawer-container>
    
    <mat-drawer #settingsSidenav mode="side" position="start">
  
        <mat-accordion multi>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Clientes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item (click)="to_client_list(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Listado de clientes</mat-list-item>
                    <mat-list-item (click)="to_client_registration(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Registro de clientes</mat-list-item>
                    <mat-list-item (click)="to_client_remaining_days(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Dias restantes de los clientes</mat-list-item>
                    <mat-list-item (click)="to_client_update(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Actualizar clientes</mat-list-item>
                
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion multi>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Ingresos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item (click)="to_revenue_registration(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Registrar ingreso</mat-list-item>
                    <mat-list-item (click)="to_revenue_list(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Lista de ingresos</mat-list-item>
                    <mat-list-item (click)="to_revenue_total(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Ingresos por año y mes</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion multi>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Gastos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item (click)="to_expense_registration(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Registrar gasto</mat-list-item>
                    <mat-list-item (click)="to_expense_list(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Lista de gasto</mat-list-item>
                    <mat-list-item (click)="to_expense_total(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Gastos por año y mes</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion multi>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Balance
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item (click)="to_balance_total(); settingsSidenav.toggle()" class="manage-control-options" role="listitem">Balance por mes</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>


    
    </mat-drawer>
    <mat-drawer-content>
     
        <app-client-list [hidden]="client_list"></app-client-list>
        <app-client-registration [hidden]="client_registration"></app-client-registration>
        <app-client-remaining-days [hidden]="client_remaining_days"></app-client-remaining-days>
        <app-client-update [hidden]="client_update"></app-client-update>

        <app-expense-list [hidden]="expense_list"></app-expense-list>
        <app-expense-registration [hidden]="expense_registration"></app-expense-registration>
        <app-expense-total [hidden]="expense_total"></app-expense-total>

        <app-revenue-list [hidden]="revenue_list"></app-revenue-list>
        <app-revenue-registration [hidden]="revenue_registration"></app-revenue-registration>
        <app-revenue-total [hidden]="revenue_total"></app-revenue-total>

        <app-balance-total [hidden]="balance_total"></app-balance-total>

        
        
        <div style="justify-content: center; display: flex; margin-top: 10%; margin-bottom: 10%;">
            <img src="../../../assets/Logo_login.jpg" />
        </div>

    </mat-drawer-content>
</mat-drawer-container> 